.btn-outline-secondary {
  color: var(--bs-secondary);
}
.btn-outline-secondary:hover {
  color: #fff;
}

.xl-text {
  font-size: clamp(2rem, 0.9661538462rem + 4.1353846154vw, 4.688rem);
}

textarea {
  resize: none;
}

.back-to-top-button {
  cursor: pointer;
  position: fixed;
  display: none;
  z-index: 10;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 2.3rem;
  height: 2.3rem;
  border: none;
  outline: none;
  border-radius: 50%;
  color: #fff;
  background-color: var(--bs-primary);
  transition: all 0.25s ease-in-out;
  opacity: 0;
}
.back-to-top-button:hover {
  background-color: var(--bs-secondary);
}

.show {
  display: block;
  opacity: 1;
}

.navbar {
  transition-property: background-color, opacity, box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

.background {
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.nav-link {
  font-weight: 600;
}

.header > img {
  position: absolute;
  top: 80px;
  width: 500px;
  opacity: 0.5;
}
@media (width <= 992px) {
  .header > img {
    width: 250px;
  }
}
.header > img:nth-child(1) {
  left: -250px;
}
@media (width <= 992px) {
  .header > img:nth-child(1) {
    left: -125px;
  }
}
.header > img:nth-child(2) {
  right: -250px;
}
@media (width <= 992px) {
  .header > img:nth-child(2) {
    right: -125px;
  }
}

@media (width <= 992px) {
  .header {
    margin-top: 4rem !important;
    text-align: center;
  }
  .header .image-container {
    margin-top: 2rem;
    width: 90%;
    margin-inline: auto;
  }
}
.details > img,
.details-2 > img {
  position: absolute;
  top: 80px;
  width: 500px;
  opacity: 0.5;
}
@media (width <= 992px) {
  .details > img,
  .details-2 > img {
    width: 250px;
  }
}

.details > img {
  left: -250px;
}
@media (width <= 992px) {
  .details > img {
    left: -125px;
  }
}

.details-2 > img {
  right: -250px;
}
@media (width <= 992px) {
  .details-2 > img {
    right: -125px;
  }
}

.services-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width <= 992px) {
  .services .col-md-4 {
    margin-block: 0.75rem;
  }
}

.carousel-item .text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (width >= 992px) {
  .carousel-item .text-center {
    margin-inline: auto;
    width: 60%;
  }
}

.contact > img {
  top: 40px;
  left: -250px;
  width: 500px;
  opacity: 0.5;
}

.footer p,
.footer li,
.footer .email {
  font-size: 0.8rem;
}

.footer a {
  text-decoration: none;
  color: var(--bs-primary);
}

.footer i {
  transition: color 0.25s ease-in-out;
}

#linkedin:hover i {
  color: #0077b5 !important;
}

#github:hover i {
  color: #000 !important;
}

#dribbble:hover i {
  color: #ea4c89 !important;
}

#stackoverflow:hover i {
  color: #ef8236 !important;
}

.footer small {
  font-size: 0.7rem;
}
